<style>
    body {
        background-color: #333;
    }

    .login-container {
        max-width: 360px;
        margin: auto;
        margin-top: 64px;
        padding: 32px;
        border-radius: 0.5em;
        color: #333;
        border: 1px solid #bbb;
        background-color: #ccc;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .a2 {
        color: #333;
    }

    .a2:hover {
        color: #000;
    }
</style>

<div class="login-container">
    <h2><b>Ingresa tu email</b></h2>

    <form action="/api/auth/recovery" method="post" style="margin-top: 32px;">
        <div class="input-group" style="width: 300px; margin-bottom: 32px;">
            <span class="input-group-text" id="group1"><i class="fa-solid fa-user"></i></span>
            <input type="email" name="email" class="form-control" placeholder="Email" required="required"
                autofocus="autofocus">
        </div>
        <button type="submit" class="btn btn-success">Recuperar</button>
        <div class="container" style="margin-top: 24px;">
            <a class="a2" href="/login">Regresar</a></span>
        </div>
    </form>
</div>