<style>
    body {
        background-color: #333;
    }

    .register-container {
        max-width: 360px;
        margin: auto;
        margin-top: 64px;
        padding: 32px;
        border-radius: 0.5em;
        color: #333;
        border: 1px solid #bbb;
        background-color: #ccc;
    }

    .btn-100 {
        width: 100%;
        margin-bottom: 0.5em;
    }

    .a2 {
        color: #333;
    }

    .a2:hover {
        color: #000;
    }
</style>


<div class="register-container">
    <h1><b>CODER LOGIN</b></h1>
    <h2><b>Registro</b></h2>

    <form action="/api/auth/register" method="post" style="margin-top: 32px;">

        <div class="input-group" style="width: 100%; margin-bottom: 8px;">
            <span class="input-group-text" id="group4"><i class="fa-solid fa-venus-mars"></i></span>
            {{!-- <input type="text" name="gender" class="form-control" placeholder="Gender" required="required"
                autocomplete="gender"> --}}
            <select name="role" class="form-control">
                <option value="admin" selected>admin</option>
                <option value="premium">premium</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success btn-100">Cambiar role</button>
    </form>
</div>

<script>
    const visit = (destination) => {
        window.location.replace(destination);
    }
</script>